@import './_variables';
@import './_navigation';

body{
    font-family: 'Grandstander', cursive;
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
    margin: 0;
    background:#f8f9fa;
}